<div th:fragment="bodyHeader">
    <div class="header">
        <div class="container flex">
            <div class="logo">
                <a href="/" id="adminPageLogo">
                    <img src="/adminImage/logo_blue.png" />
                </a>
            </div>
            <div class="row">
                <ul>
                    <li id="createMeeting">
                        <a href="/createMeeting"><h6>약속잡기</h6></a>
                    </li>
                    <li id="checkMeeting">
                        <a href="/checkMeeting"><h6>약속확인하기</h6></a>
                    </li>
                    <li id="adminPage" hidden>
                        <a href="/adminPage"><h6>관리자페이지</h6></a>
                    </li>
                    <li  id="join">
                        <a href="/join"><h6>회원가입</h6></a>
                    </li>
                    <li  id="login">
                        <a href="/login"><h6>로그인</h6></a>
                    </li>
                    <li  id="logout">
                        <a href="/logout"><h6>로그아웃</h6></a>
                    </li>
                    <li id="myPage">
                        <a href="/myPage" ><h6>마이페이지</h6></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

