<div th:fragment="footer">
    <div class="footer">
        <div class="container grid2">
            <div class="box">
                <img src="/adminImage/logo.png" alt="logo" />
                <p>YOYO 만나서 뭐해요!</p>
<!--                <div class="socialIcon">-->
<!--                    <i class="fab fa-facebook-f "></i>-->
<!--                    <i class="fab fa-instagram "></i>-->
<!--                    <i class="fab fa-twitter "></i>-->
<!--                    <i class="fab fa-youtube "></i>-->
<!--                </div>-->
                <div>

                </div>
            </div>

            <div class="box">
                <h2>Contact Us</h2>

                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                    <label htmlFor="">Location: 서울시 서초구 서초동 1307</label>
                </div>
                <div class="icon">
                    <i class="fa fa-phone"></i>
                    <label htmlFor="">Phone: +82 2 0000 0000</label>
                </div>
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                    <label htmlFor="">Email: yoyo@gmail.com</label>
                </div>
            </div>
        </div>
        <div class="legal container">
            <p>Copyright @2022. All rights reserved.</p>
            <p htmlFor="">
                Design & Developed by <span>영등포머지?</span>
            </p>
        </div>
    </div>
</div>