@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.container {
    max-width: 80%;
    margin: auto;
}

.col-xs-4 h2 {
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
button{
    width:100%;
    background-color: #00000010;
    border:none;
    color: #00000080;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}
button:hover{
    opacity: 80%;
}
.topMargin {
    margin-top: 20px;
}
.bottomMargin {
    margin-bottom: 20px;
}
.flexevenly {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
}
/* ---------------header------------------- */
.header {
    padding: 10px 0;
    box-shadow: 0 2px 28px 0 rgba(0 0 0 /8%);
}
.header .container {
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header img {
    height: 20px;
}
.header ul {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
.header ul li {
    display: inline-block;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.header ul li h6 {
    font-weight: 500;
    transition: 0.5s;
}
.header ul li a:hover {
    color: #6667ab;
    font-weight: 500;
    text-decoration: none;
}
/* ———————header————————— */
/* ---------------main------------------- */

.container div{
    margin: 20px 0;
}

/* ---------------main------------------- */
/* ---------------footer------------------- */
.footer {
    background-color: #244aa3;
    padding: 50px 0 0 0;
    color: #fff;
    margin-top: 100px;
}
.footer .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.footer img {
    height: 30px;
    background-color: white;
    padding: 3px;
}
.footer p {
    color: #fff;
    margin: 20px 0;
}
/*.footer .socialIcon i {*/
/*    background: transparent;*/
/*    !*border: 1px solid #fff;*!*/
/*    margin-right: 20px;*/
/*    font-size: 30px;*/
/*}*/
.footer h2 {
    margin-bottom: 30px;
    font-size: 20px;
}
.footer .box p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer span {
    color: white;
    opacity: 1;
}
.footer .icon {
    margin-top: 20px;
    display: flex;
}
.footer .icon i {
    color: white;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.legal {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    /*padding: 20px 0;*/
}

/* ---------------footer------------------- */
.formcontainer {
    width: 20%;
    margin: auto;
}
.formcontainer input {
    padding: 5px;
}
.form-control input{
    padding: 5px;
}
.refund {
    width: 70%;
    margin: auto;
}
.point input {
    padding: 10px;
}
.nav a {
    text-decoration: none;
    color: #000;
}
.nav a:hover {
    color: #386ad1;
    font-weight: 500;
}
.logo {
    align-items: center;
}
/* ---------------admin------------------- */
.admin a:hover {
    color: #386ad1;
    font-weight: 500;
}
.admin a {
    text-decoration: none;
    transition: 0.5s;
}
.adminflex {
    display: flex;
}
.admin .second {
    width: auto;
    margin-left: 10px;
}
/* ---------------admin------------------- */
