<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container" style="text-align: center">
    <div>
        <div style="background-color: bisque; height: 800px; margin-top:100px">지도 설명</div>
    </div>
    <div data-aos="fade-down" data-aos-offset="700">
        <div style="background-color: bisque; height: 500px">날씨 설명</div>
    </div>
    <div data-aos="fade-down" data-aos-offset="600">
        <div style="background-color: bisque; height: 500px">약속 설명</div>
    </div>
    <div style="margin-top:100px">
        <button id="start" onclick="location.href='/createMeeting'">시작하기</button>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript">
    AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
</script>
</body>
</html>