<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container" style="text-align: center">
    <div>
        <div style="margin:100px 0;">
            <img src="/adminImage/main_des_1_ver2.png" alt="yoyo 기능설명 1 _ 음식점 추천" style="max-width:100%; height:auto;">
        </div>
    </div>
    <div data-aos="fade-down" data-aos-offset="600">
        <div style="margin:100px 0;">
            <img src="/adminImage/main_des_2.png" alt="yoyo 기능설명 2 _ 날씨별 음식 추천" style="max-width:100%; height:auto;">
        </div>
    </div>
    <div style="margin:100px 0;" data-aos="fade-down" data-aos-offset="700">
        <img src="/adminImage/main_des_3.png" alt="yoyo 기능설명 3 _ 편리한 약속 잡기" style="max-width:100%; height:auto;">
    </div>
    <div style="margin-top:100px">
        <button id="start" onclick="location.href='/createMeeting'">시작하기</button>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript">
    AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
</script>
</body>
</html>